<script type="text/javascript">
function showonlyone(thechosenone) {
  $('.tabs').each(function(index) {
    if ($(this).attr("id") == thechosenone) {
      $(this).show(200);
    }
    else {
      $(this).hide(600);
    }
  });
}
</script>
<div class="welcome clearfix">
  <div class="col col-2 avatar">
    <%= image_tag(@user.image, class: "fit") %>
    <div class="info">
      <p>Welcome, <%= @user.name %></p>
      <p class="h6">Username: <%= @user.nickname %></p>
      <p class="h6">Starred: <%= @starred_repos %></p>
      <p class="h6">Following: <%= @basic_info[:following] %></p>
      <p class="h6">Followers: <%= @basic_info[:followers] %></p>
    </div>
  </div>
  <div class="col col-10 commit_feed">
    <div class="center">
      <a href="javascript:showonlyone('tabs1');" class="btn btn-primary">My Recent Activity</a>
      <a href="javascript:showonlyone('tabs2');" class="btn btn-primary">Following Recent Activity</a>
      <a href="javascript:showonlyone('tabs3');" class="btn btn-primary">My Repositories</a>
    </div>
    <div class="tabs" id="tabs1">
      <ul>
        <% @recent_commits.each do |commit| %>
        <li class="commit">
          <p><%= commit[:commit][:message] %></p>
          <p><%= commit[:repository][:full_name] %></p>
          <p><%= commit[:commit][:author][:date] %></p>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="tabs" id="tabs2">
      <ul class="following_user_list">
        <% @following_commits.each do |user, commits| %>
        <li class="following_user">
          <h5><%= user %></h5>
          <ul class="following_user_commits">
            <% commits.each do |commit| %>
            <li class="following_commit">
              <p><%= commit[:commit][:message] %></p>
              <p><%= commit[:repository][:full_name] %></p>
              <p><%= commit[:commit][:author][:date] %></p>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="tabs" id="tabs3">
      <ul class="repo_feed">
        <% @repos.each do |repo| %>
        <li class="repo">
          <h5><%= repo[:full_name] %></h5>
          <p><%= repo[:language] %></p>
          <p><%= repo[:updated_at] %></p>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>