<!DOCTYPE html>
<html>
  <head>
    <title>Apicurious</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="clearfix white bg-black">
      <div class="left">
        <h3 class="btn py2 m0">Githoob</h3>
      </div>
      <div class="right">
            <div class="relative">
              <a href="#!" class="btn py2 m0">My Account</a>
              <% if current_user %>
                <%= link_to "Logout", signout_path, class: "btn py2 m0" %>
              <% end %>
            </div>
          </div>
      </div>
      <div class="clearfix sm-hide"></div>
      <div class="overflow-hidden px2">
      </div>
    </div>
    <br>
    <br>
    <%= yield %>
  </body>
</html>